@use '../helpers' as *;

.about-books{
    padding-block: 0;
    z-index: 1;

    &__bg{
        position: absolute;
        z-index: -1;
        width: 50%;
        height: 100%;
        object-fit: cover;
        object-position: right top;
        border-radius: 0 rem(50) rem(50) 0;
        box-shadow: 0px 8.77603px 35.1041px rgba(0, 0, 0, 0.2);

        &--mobile{
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: rem(27);
            box-shadow: 0px 8.77603px 35.1041px rgba(0, 0, 0, 0.2);
        }

    }

    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include fluid-text(23, 16);

        line-height: fluid(36, 29);

        @include mobile{
            grid-template-columns: repeat(1, 1fr);
            row-gap: rem(50);
        }
    }

    &__left{
        position: relative;
        z-index: 1;
        padding-block: fluid(70, 40);
        padding-right: fluid(65, 24);
        color: var(--color-dark-blue);

        @include mobile{
            padding-left: rem(70);
            padding-right: rem(55);
            // padding-bottom: rem(100);

            background-size: cover;
            background-position: center top;
            
        }

        @include mobile-s{
            padding-inline: rem(16);
        }

        p{
            margin-bottom: fluid(115, 60);
        }
    }

    &__more{
        @include mobile{
            justify-content: center;
        }
        .btn, .button{
            @include mobile-s{
                width: 100%;
                min-width: 0;
            }
        }
    }

    &__right{
        padding-block: fluid(70, 40);
        padding-left: fluid(65, 24);
        position: relative;
        
        @include mobile{
            padding-left: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        .custom-scroll{
            max-height: rem(590);

            @include mobile{
                max-height: none;
                overflow: hidden;
            }
        }

        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 75%;
            width: 100%;
            height: rem(140);
            background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, var(--color-light) 100%);
            filter: blur(6px);

            @include mobile{
                display: none;
            }
        }


        ol{
            list-style: none;
            padding: 0;
            padding-right: fluid(80, 30);
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: fluid(25, 10);
            counter-reset: custom-list-counter;

            li{
                line-height: 1.4;
                counter-increment: custom-list-counter;

                &::before{
                    content: counter(custom-list-counter) ". ";
                    font-weight: bold;
                }
            }
        }
    }

    .more-link{
        font-style: italic;
        text-decoration: underline;
        font-weight: bold;
        display: inline-block;
        width: fit-content;
    }
}