@use '../helpers' as *;

.about-books{
    padding-block: fluid(70, 40);
    z-index: 1;

    &__bg{
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        object-fit: cover;
        object-position: right top;
        border-radius: 0 rem(50) rem(50) 0;
        filter: drop-shadow(0px 8.77603px 35.1041px rgba(0, 0, 0, 0.2));
        overflow: hidden;


        @include mobile{
            width: 96%;
            height: 88%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: rem(50);
        }

        @include mobile-s{
            width: 92%;
            // height: 88%;
            border-radius: rem(30);
        }
    }

    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include fluid-text(23, 16);

        line-height: fluid(36, 29);

        @include mobile{
            grid-template-columns: repeat(1, 1fr);
            row-gap: rem(50);
        }
    }

    &__left{
        padding-right: fluid(65, 24);
        color: var(--color-dark-blue);

        @include mobile{
            padding-left: rem(70);
            padding-right: rem(45);
        }

        @include mobile-s{
            padding-inline: rem(16);
        }

        p{
            margin-bottom: fluid(115, 60);
        }
    }

    &__more{
        @include mobile{
            justify-content: center;
        }
        .btn, .button{
            @include mobile-s{
                width: 100%;
                min-width: 0;
            }
        }
    }

    &__right{
        padding-left: fluid(65, 24);
        position: relative;
        
        @include mobile{
            padding-left: 0;
        }

        .custom-scroll{
            max-height: rem(590);
        }

        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 85%;
            width: 100%;
            height: rem(140);
            background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, var(--color-light) 100%);
            filter: blur(6px);
        }


        ol{
            list-style: none;
            padding: 0;
            padding-right: fluid(80, 40);
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: fluid(25, 10);

            li{
                line-height: 1.4;
            }
        }
    }
}