@use '../helpers' as *;

.banner{
    overflow: hidden;
    &__inner{
        display: flex;
        column-gap: rem(20);
        border-bottom: 1px solid #D2CECE;
        padding-bottom: rem(46);

        @include mobile{
            flex-direction: column-reverse;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
    &__left{
        padding-top: rem(80);
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(20);
        padding-bottom: rem(20);
        width: rem(600);

        @include laptop{
            padding-top: rem(50);
            width: 50%;
        }
        @include tablet{
            padding-top: 0;
            width: 100%;
        }
    }
    &__title{
        margin-bottom: rem(24);
    }
    &__description{
        @include fluid-text(21, 18);

        line-height: 1.63;
        color: var(--color-dark-blue);
    }
    &__right{
        flex-grow: 1;
        margin-right: rem(-32);

        @include laptop{
            margin-right: 0;
        }
        @include tablet{
            margin-left: rem(30);
        }
        @include mobile{
            margin-left: rem(16);
        }
    }
    .btn, 
    .button {
        align-self: start;

        max-width: rem(300);
        width: 100%;

        @include mobile {
            margin-inline: auto;
        }

        @include mobile-s {
            width: 100%;
        }
    }
}