@use '../helpers' as *;

.catalog {
    overflow-x: hidden;

    &__list{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: fluid(65, 0);
        row-gap: fluid(65, 30);

        @include laptop{
            grid-template-columns: repeat(4, 1fr);
        }

        @include tablet{
            grid-template-columns: repeat(3, 1fr);
        }

        @include mobile{
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-s{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__slider{
        overflow: visible !important;
        // > .swiper-wrapper{
        //     flex-direction: row;
        // }
    }

    &__card{
        position: relative;
        height: auto !important;
        // margin-top: 0 !important;
        // max-width: rem(225);
        // width: 100%;

        @include laptop{
            // max-width: 100%;
        }

        article{
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &--content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
        }

        &--lang{
            position: absolute;
            background-color: var(--color-accent);
            color: #313131;
            z-index: 1;
            width: fluid(38, 33);
            height: fluid(38, 33);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: fluid(10, 6);
            right: fluid(10, 6);
            font-weight: bold;

            @include fluid-text(14, 12)
        }

        &--image{
            border-radius: rem(22);
            overflow: hidden;
            background-color: var(--color-accent);
            box-shadow: 0px 9px 35px rgba(0, 0, 0, 0.2);
            aspect-ratio: 1 / 1.5;
            position: relative;
            transition: all var(--transition-duration);
            margin-bottom: fluid(16, 12);

            img{
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center bottom;
                border-radius: rem(22);
                transition: transform var(--transition-duration);
            }

            @include hover{
                box-shadow: 0px 9px 35px rgba(0, 0, 0, 0.1);
                img{
                    transform: scale(.99);
                }
            }
        }

        &--excerpt{
            font-size: fluid(14, 12);
            font-weight: 300;
            margin-bottom: fluid(10, 8);
            color: rgba(0, 0, 0, .55);
        }

        &--title{
            font-size: fluid(20, 18);
            font-weight: 600;
            font-family: var(--font-family-base);
            margin-bottom: fluid(8, 6);
            color: var(--color-dark);
        }
        &--author{
            font-size: fluid(16, 14);
            font-weight: 600;
            color: rgba(0, 0, 0, .6);
        }

        &--link{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: inherit;
            height: 100%;

            &:hover{
                .catalog__card--image{
                    box-shadow: 0px 9px 35px rgba(0, 0, 0, 0.1);
                    
                    img{
                        transform: scale(.99);
                    }
                }
            }
        }
    }
    &-filter{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: fluid(40, 10);
        margin-top: fluid(20, 10);

        &__label{
            color: var(--color-dark);
            padding-block: rem(3);
            position: relative;
            cursor: pointer;

            @include fluid-text(18, 12);

            &:hover:not([data-filter-type="all"].is-active){
                color: var(--color-dark);

                .catalog-filter__dropdown{
                    @include show;
                }

                &::after{
                    width: 100%;
                }
            }

            &.is-active > span{
                font-weight: bold;
            }

            &::after{
                content: '';
                width: 0;
                height: 1px;
                background-color: #000;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                transition-duration: var(--transition-duration);
                top: 100%;
            }
        }

        &__dropdown{
            position: absolute;
            top: calc(100% + 1px);
            min-width: 100%;
            width: fit-content;
            background: rgba(242, 242, 242, 0.8);
            backdrop-filter: blur(7.45963px);
            border-radius: 0 0 rem(14) rem(14);
            padding: rem(15) rem(24);
            display: grid;
            row-gap: rem(20);
            transition-duration: var(--transition-duration);
            z-index: 10;

            @include hide;
        }

        &__item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            column-gap: rem(25);
            line-height: 1;

            &--row{
                display: flex;
                align-items: center;
                column-gap: rem(8);
                @include fluid-text(14, 12);

                input:checked ~ .fake-checkbox::after{ opacity: 1; }

                span{
                    white-space: nowrap;
                }
            }

            &--count{
                @include fluid-text(14, 12);
                font-weight: 500;
                color: #818181;
            }
        }
    }

}

.fake-checkbox{
    @include square(rem(12));
    border: 1px solid #000;
    border-radius: rem(2);
    position: relative;

    &::after{
        content: '';
        position: absolute;
        @include square(rem(9));
        background-color: var(--color-accent);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition-duration: var(--transition-duration);
        opacity: 0;
    }

}