@use '../helpers' as *;

.footer {
    padding: fluid(100, 16) 0 fluid(50, 40);
    background-color: var(--color-gray-deep);
    color: #ffffff;

    a{
       white-space: nowrap;
    }

    a:not([class]){
        text-decoration: none;
        color: #d1d1d1;
        
        @include hover {
            color: var(--color-accent);
        }
    }

    &__row {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: rem(30);
        padding-bottom: rem(60);

        @include mobile{
            flex-direction: column;
            gap: rem(45);
        }
    }

    &__logo{
        flex-shrink: 0;
        display: flex;
        justify-content: center;

        @include mobile{
            width: 100%;
        }

        img{
            max-width: rem(160);
            width: 100%;
            height: auto;
        }
    }

    &__menu{
        flex-grow: 1;
        ul{
            display: flex;
            column-gap: rem(30);
            row-gap: rem(20);
            flex-wrap: wrap;
            
            @include tablet-above{
                justify-content: center;
            }

            li{

                @include mobile{
                    width: 45%;
                }

                a{
                    display: inline-block;
                    text-decoration: none;
                    font-size: rem(16);
                    font-weight: 600;

                    @include mobile-s{
                        font-size: rem(14);
                    }
                }
            }
        }
    }

    &__contacts{
        display: flex;
        flex-direction: column;
        gap: fluid(22, 16);
        text-align-last: left;
        h3{
            color: #fff;
            line-height: 1;
        }
    }

    &__soc1al{
        display: flex;
        align-items: center;
        gap: rem(20);
    }

    &__links{
        padding-top: rem(20);
        border-top: 1px solid rgba(#fff, .88);

        &--wrapper{
            display: inline-flex;
            flex-direction: column;
            gap: rem(5);

            a{
                font-size: rem(16);
                font-weight: 300;
            }
        }
    }

}