@use '../helpers' as *;

.header{
    position: fixed;
    width: 100%;
    left: 0;
    background-color: transparent;
    box-shadow: none;
    transition: all .2s;
    top: var(--headerOffset);;

    &.fixed{
        top: 0;
        background-color: #fff;
        box-shadow: 0 rem(5) rem(50) rgba(#102B3B, 0.1);
    }

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(5);
        height: var(--headerHeight);
        background-color: #fff;
        padding-inline: var(--container-padding-x);
        border-radius: rem(40);
    }

    &__nav{
        ul{
            display: flex;
            column-gap: rem(30);
            @include laptop{
                column-gap: rem(20);
            }
            @include tablet{
                column-gap: rem(10);
            }
            li{
                a{
                    display: inline-flex;
                    padding: rem(13) rem(8);
                    text-decoration: none;
                    font-weight: 600;
                    font-size: rem(16);
                    @include laptop{
                        font-size: rem(14);
                    }
                }
            }
        }
        @include tablet{
            display: none;
        }
    }

    &__actions{
        display: flex;
        align-items: center;
    }
}