@use '../helpers' as *;

.header{
    position: fixed;
    width: 100%;
    left: 0;
    background-color: transparent;
    box-shadow: none;
    transition: all .2s;
    top: var(--headerOffset);
    z-index: 1000;

    &.fixed{
        top: 0;
        background-color: #fff;
        box-shadow: 0 rem(5) rem(50) rgba(#102B3B, 0.1);
    }

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(5);
        height: var(--headerHeight);
        background-color: #fff;
        padding-inline: var(--container-padding-x);
        border-radius: rem(40);

        @include mobile-s{
            padding-inline: rem(10);
        }
    }

    &__nav{
        @include tablet{
            // flex-grow: 1;
        }
        ul{
            display: flex;
            column-gap: rem(30);
            @include laptop{
                column-gap: rem(15);
            }
            @include tablet{
                column-gap: rem(10);
                flex-direction: column;
            }
            li{
                a{
                    display: inline-flex;
                    padding: rem(13) rem(8);
                    text-decoration: none;
                    font-weight: 600;
                    font-size: rem(16);
                    @include laptop{
                        font-size: rem(12);
                    }
                    @include tablet{
                        font-size: rem(20);
                        padding-left: 0;
                    }
                }
                @include tablet{
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
        &--wrapper{
            @include tablet-above{
                transition: none;
                transform: translateX(0) !important;
            }

            @include tablet{
                position: fixed;
                background-color: #fff;
                z-index: 10;
                max-width: rem(768);
                width: 100%;
                height: 100vh;
                top: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                padding-top: rem(80);
                padding-inline: rem(30);
                transform: translateX(100%);
                transition: transform var(--transition-duration);
                box-shadow: rem(-30) 0 rem(100) rgba(#102B3B, 0.3);

                @include custom-scroll;

                &.isActive{
                    transform: translateX(0);
                }
            }
            @include mobile{
                padding-top: rem(80);
            }
        }
    }

    &__actions{
        display: flex;
        align-items: center;
        column-gap: fluid(30, 13);

        @include tablet{
            padding-right: rem(8);
        }

        &--search{
            position: relative;
        }
    }
}

.contacts__menu{
    margin-top: rem(40);
    padding-top: rem(20);
    border-top: 1px solid #000;

    &--title{
        font-size: rem(20);
        line-height: 1;
        font-weight: 600;
        margin-bottom: rem(16);
    }

    &--link{
        font-size: rem(18);
        font-weight: 500;
        display: inline-flex;
        margin-bottom: rem(10);
    }

    .soc1al{
        display: flex;
        align-items: center;
        gap: rem(20);
    }
}