@use '../helpers' as *;

.header{
    position: sticky;
    top: rem(30);
    background-color: transparent;

    animation: scrollTo forwards;
    animation-range: rem(50) rem(100);
    animation-timeline: scroll();

    @keyframes scrollTo {
        to {
            top: 0;
            background-color: #fff;
            box-shadow: 0 rem(5) rem(50) rgba(#102B3B, 0.1);
        }
    }

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(5);
        padding-block: rem(15);
        background-color: #fff;
        border-radius: rem(40);
    }

    &__nav{
        ul{
            display: flex;
            column-gap: rem(30);
            li{
                a{
                    display: inline-flex;
                    padding: rem(7) rem(8);
                    text-decoration: none;
                }
            }
        }
    }
    &__actions{
        display: flex;
    }
}