@use '../helpers' as *;

.close-menu-btn{
    position: fixed;
    padding: rem(16);
    top: 0;
    right: 0;
    z-index: 11;

    @include tablet-above{
        display: none !important;
    }

    img{
        width: rem(22);
        height: auto;
    }
}

.menu-btn{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(7);
    span{
        width: rem(28);
        height: rem(2);
        background-color: #000;
    }

    @include tablet-above{
        display: none !important;
    }
}