@use '../helpers' as *;

.news{
    background-color: #fff;

    &__archive--link{
        display: inline-flex;
        align-items: center;
        column-gap: rem(10);
        color: #202020;
        font-size: rem(16);

        span{
            text-decoration: underline;
        }

        svg{
            width: fluid(30, 24);
            height: fluid(30, 24);
            flex-shrink: 0;

        }

        @include hover{
            span{
                text-decoration: none;
            }
        }

        &-mobile{
            text-align: center;
            margin-top: rem(60);
        }
    }

    &__item{

        time{
            display: inline-flex;
            align-items: center;
            column-gap: rem(14);
            font-size: rem(18);
            font-weight: bold;
            font-family: var(--font-family-link);
            margin-bottom: rem(9);

            &::before{
                content: '';

                @include square(rem(14));

                border-radius: rem(4);
                background-color: var(--color-accent);
            }
        }

        &--image{
            position: relative;
            border-radius: fluid(13, 11);
            overflow: hidden;
            margin-bottom: rem(13);
            aspect-ratio: 1 / 0.65;

            img{
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &--title{
            margin-bottom: rem(10);
        }

        &--excerpt{
            font-size: fluid(18, 16);

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
    }
}