@use '../helpers' as *;

.search{
    display: inline-flex;
    align-items: center;

    &-button{
        @include hover{
            opacity: 0.9;
        }
        img{
            width: fluid(22, 20);
            height: auto;
        }
    }

    @include mobile{
        display: none;
    }

    &-form{
        @include hide;

        position: absolute;
        top: calc(100% + var(--headerOffset));
        right: 0;
        background-color: #fff;
        padding: rem(20) rem(20);
        box-shadow: 0 rem(10) rem(10) rgba(0,0,0,.2);
        transition: width var(--transition-duration);

        width: 0;
        overflow: hidden;

        &.isActive{
            @include show;
            &.open{
                width: rem(300);
                input{
                    display: block;
                }
            }
        }

        @include mobile{
            display: none !important;
        }

        input{
            padding: rem(10) rem(12);
            border: rem(2) solid var(--color-text);
            font-size: rem(16);
            width: 100%;
            display: none;
            outline: none;
            &:focus{
                border-color: var(--color-accent);
            }
        }
    }
}