@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 16);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-text);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6  {
  color: var(--color-dark-blue);
  font-family: var(--font-family-accent);
  font-weight: 500;
}

h1, .h1 {
  @include fluid-text(105, 50);

  line-height: 1;
  span{
    display: block;
    @include fluid-text(61, 30);
  }
}

h2, .h2 {
  @include fluid-text(37, 31);
}

h3, .h3 {
  font-size: rem(27);
  line-height: 1.3;

  @include mobile-s {
    font-size: rem(21);
  }
}

h4, .h4 {
  @include fluid-text(20, 15);
}

h5, .h5 {
  @include fluid-text(24, 18);
}

h6, .h6 {
  @include fluid-text(20, 16);
}

p {
  --paragraphMarginBottom: #{rem(24)};
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-text);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  font-family: var(--font-family-link);
}

nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-scroll{
  @include custom-scroll;
}

.hidden{
  display: none !important;
}

strong, b{
  font-weight: 700;
}

.slider-btn{
  --btnWidth: #{fluid(50, 36)};

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--btnWidth);
  height: var(--btnWidth);
  border-radius: fluid(20, 10);
  border: 2px solid var(--color-accent);
  cursor: pointer;
  transition: all var(--transition-duration);
  z-index: 1;

  @include hover{
      background-color: var(--color-accent);
  }

  img{
      width: calc(var(--btnWidth) / 2.5);
      height: auto;
  }

  &.swiper-button-disabled{
    opacity: 0.6;
    background-color: transparent !important;
    cursor: not-allowed;
  }
}

.slider-pagination{
  width: auto;
  font-size: fluid(18, 16);
  font-weight: 700;
  color: #404040;
}

.more-link{
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  font-size: rem(16);
  color: var(--color-dark-blue);
  display: inline-block;
  width: fit-content;
}