@use 'helpers' as *;

:root {
  --color-light: #F2F2F2;

  --color-text: #545454;

  --color-gray: rgba(#000, .6);
  --color-gray-deep: #363839;

  --color-dark: #1F1F1F;

  --color-dark-blue: #102B3B;

  --color-accent: #FECB1C;
  --color-accent-rgb: 254, 203, 28;

  --color-red: #D8383A;

  --font-family-base: 'Montserrat', sans-serif;
  --font-family-accent: 'Rubik', sans-serif;
  --font-family-link: 'Inter', sans-serif;

  // --headerHeight: 80px;  
  --headerHeight: #{fluid(80, 50)};
  --headerOffset: #{fluid(30, 13)};

  --container-width: #{rem(1335)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1280)};
  }

  @include mobile-s{
    --container-padding-x: #{rem(10)};
  }
}