@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/buttons';
@use 'blocks/soc1al';
@use 'blocks/header';
@use 'blocks/logo';
@use 'blocks/search';
@use 'blocks/language';
@use 'blocks/menu-btns';
@use 'blocks/banner';

@use 'blocks/footer';