@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/buttons';
@use 'blocks/pagination';
@use 'blocks/soc1al';
@use 'blocks/header';
@use 'blocks/logo';
@use 'blocks/search';
@use 'blocks/language';
@use 'blocks/menu-btns';
@use 'blocks/banner';
@use 'blocks/section';
@use 'blocks/more';
@use 'blocks/catalog';
@use 'blocks/about-books';
@use 'blocks/authors';
@use 'blocks/news';
@use 'blocks/faq';
@use 'blocks/reviews';

@use 'blocks/footer';

@use 'blocks/modals';

@use 'blocks/tooltip';